body{
    font-family:'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid    #bbb;
    padding: 1rem;
    background-color: rgb(169, 247, 247);

}

main{
    display: grid;
    grid-template-columns: 1fr;
}

section{
    padding: 1rem;
    background-color: #fff;
}